absl-py==2.3.0
alembic==1.17.2
altair==5.5.0
annotateai==0.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
ansi2html==1.9.2
anyio==4.12.0
aplr==10.19.3
appnope==0.1.4
arabic-reshaper==3.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.14.3
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
Brotli==1.1.0
cachetools==5.5.2
category_encoders==2.7.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
choreographer==1.2.1
click==8.1.8
cloudpickle==3.1.2
colour==0.1.5
comm==0.2.2
contourpy==1.3.2
cookiecutter==2.6.0
cookiecutter-data-science==2.3.0
crispy-bootstrap5==2024.10
cryptography==44.0.2
cssselect2==0.8.0
cycler==0.12.1
Cython==3.2.2
dacite==1.9.2
dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_auth==2.3.0
dash_cytoscape==1.0.2
databricks-sdk==0.76.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.4.0
distro==1.9.0
Django==5.1.7
django-crispy-forms==2.3
dm-tree==0.1.9
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
dtreeviz==2.2.2
einops==0.8.1
email-validator==2.3.0
etils==1.13.0
executing==2.2.0
explainerdashboard==0.5.1
fairlearn==0.7.0
faiss-cpu==1.13.0
fastapi==0.125.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.8.0
fastar==0.8.0
fastjsonschema==2.21.2
filelock==3.18.0
filetype==1.2.0
Flask==2.3.3
Flask-Cors==4.0.0
Flask-WTF==1.2.2
flask_simplelogin==0.2.0
flatbuffers==25.2.10
fonttools==4.57.0
fqdn==1.5.1
fsspec==2025.3.2
gast==0.6.0
gevent==25.9.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.45.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.3.0
groq==0.37.1
grpcio==1.73.1
gunicorn==23.0.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huey==2.5.5
huggingface-hub==0.36.0
idna==3.10
ImageHash==4.3.2
imbalanced-learn==0.14.0
immutabledict==4.2.1
importlib-metadata==6.11.0
importlib_resources==6.5.2
iniconfig==2.3.0
interpret==0.7.3
interpret-core==0.7.3
ipykernel==6.29.5
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.3.2
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.5.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kaggle==1.7.4.5
kaleido==1.2.0
keras==3.10.0
kiwisolver==1.4.8
langchain-core==1.2.16
langchain-groq==1.1.2
langgraph==1.0.9
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.9
langsmith==0.7.7
libclang==18.1.1
lightgbm==4.6.0
llvmlite==0.45.1
logistro==2.0.1
lxml==5.3.2
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
minify_html==0.18.1
mistune==3.1.4
ml_dtypes==0.5.1
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
modin==0.37.1
mpmath==1.3.0
msgpack==1.1.2
multimethod==1.12
multiprocess==0.70.18
mysqlclient==2.2.7
namex==0.1.0
narwhals==1.40.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
notebook==7.5.1
notebook_shim==0.2.4
numba==0.62.1
numpy==1.26.4
onnx==1.15.0
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
opentelemetry-api==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opt_einsum==3.4.0
optree==0.16.0
orjson==3.11.5
ormsgpack==1.12.2
oscrypto==1.3.0
overrides==7.7.0
oyaml==1.0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.4
patsy==1.0.2
pdf-annotate==0.12.0
pdfminer.six==20251107
pdfrw==0.4
pexpect==4.9.0
phik==0.12.5
Pillow==9.5.0
platformdirs==4.3.8
plotly==5.24.1
plotly-resampler==0.11.0
pluggy==1.6.0
pmdarima==2.0.4
prometheus_client==0.23.1
promise==2.3
prompt_toolkit==3.0.51
protobuf==4.25.9
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.30
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycaret==3.3.2
pycparser==2.22
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydyf==0.11.0
Pygments==2.19.1
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
Pympler==1.1
pynndescent==0.5.13
pyod==2.0.6
pyparsing==3.2.3
pypdf==5.4.0
pyphen==0.17.2
pytest==9.0.2
pytest-timeout==2.4.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.21
python-slugify==8.0.4
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.9.0
PyYAML==6.0.3
pyzmq==27.0.0
qrcode==8.1
# Editable install with no version control (real-time-fraud-detection-system==0.0.1)
-e /Users/rajendran/Desktop/real_time_fraud_detection_system_for_financial_transactions/real-time-fraud-detection-system-for-financial-transactions
# Editable install with no version control (real_time_fraud_detection_system_for_financial_transactions==0.0.1)
-e /Users/rajendran/Desktop/real_time_fraud_detection_system_for_financial_transactions/real-time-fraud-detection-system-for-financial-transactions
referencing==0.36.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rich-toolkit==0.17.1
rignore==0.7.6
rpds-py==0.25.1
rsa==4.9.1
safetensors==0.5.3
SALib==1.5.1
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
Send2Trash==1.8.3
sentence-transformers==5.2.3
sentry-sdk==2.48.0
shap==0.44.1
shellingham==1.5.4
simple-parsing==0.1.7
simplejson==3.20.2
six==1.17.0
sktime==0.26.0
slicer==0.0.7
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.45
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.50.0
statsmodels==0.14.6
streamlit==1.26.0
svglib==1.5.1
sympy==1.14.0
tbats==1.1.3
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-datasets==4.9.9
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.2
termcolor==3.1.0
terminado==0.18.1
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.3
torch==2.9.1
torchvision==0.15.2
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
tsdownsample==0.1.4.1
txtai==9.2.0
txtmarker==1.1.0
typeguard==4.4.4
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==4.3.1
ultralytics==8.3.152
ultralytics-thop==2.0.14
umap-learn==0.5.7
uri-template==1.3.0
uritools==4.0.3
urllib3==2.6.2
uuid_utils==0.14.1
uvicorn==0.38.0
uvloop==0.22.1
validators==0.35.0
visions==0.8.1
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
weasyprint==65.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.0.6
whitenoise==6.9.0
widgetsnbextension==4.0.15
wordcloud==1.9.4
wrapt==1.17.2
WTForms==3.2.1
wurlitzer==3.1.1
xgboost==3.2.0
xhtml2pdf==0.2.17
xxhash==3.6.0
ydata-profiling==4.18.0
yellowbrick==1.5
zipp==3.21.0
zope.event==6.1
zope.interface==8.1.1
zopfli==0.2.3.post1
zstandard==0.25.0
